<div class="card">
  <%= link_to image_tag(sauna.image, class: :card__img ), sauna_path(sauna.id),method: :get %>
  <div class="card__body">
     <%= link_to sauna.name, saunas_path(sauna.id),method: :get, class: :card__title %>
    <p class="card__summary">
      <%= sauna.address %>
    </p>
    <%# <%= link_to sauna.administarator.name, administarator_path(sauna.adminitrator.id), class: :card__user %> 
  </div>
</div>